@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

:root {
	--primary-color: #c7a17a;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container-navbar {
	background-color: var(--primary-color);
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    width: 100%;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.navbar .fa-bars {
	display: none;
}

.logo {
    text-decoration: none;
    font-weight: light;
    font-size: large;
    color: black;
}

.menu {
	display: flex;
	gap: 2rem;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #fff;
}

.banner {
	background-image: linear-gradient(90deg, #000000, #00000020),
		url('../img/banner.jpg');
	height: 70rem;
	background-size: cover;
	background-position: center;
}

.content-banner {
	max-width: 90rem;
    padding-top: 30rem;
	margin-left: 40px;
}

.content-banner p {
	color: #fff;
    font-size: 18px;
}

.content-banner h2 {
	color: #fff;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.main-section {
	display: flex;
	align-items: center;
	gap: 10rem;
	padding: 4rem 2rem 2rem;
    background-color: white;
	padding-bottom: 50px;
	border-bottom: #474646 1px solid;
}
.main-section img {
	max-width: 45%;
	border-radius: 10px;
	box-shadow: 1px 1px 30px black;
}

.text-description h2 {
	color: black;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 20px;
}

.text-description p {
	color: black;
    font-size: 18px;
}

.nutrition-section {
	display: flex;
	align-items: center;
	gap: 10rem;
	padding: 4rem 2rem 2rem;
    background-color: white;
	border-bottom: #474646 1px solid;
}
.nutrition-section img {
	width: 500px;
	height: 550px;
}

.ingre-section {
	margin-bottom: 300px;
}

.ingre-section div h2{
	color: black;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.2;
	margin-top: 20px;
	margin-left: 200px;
	margin-bottom: 20px;
}

.ingre-section ul {
	margin-top: 75px;
	font-size: 20px;
	margin-left: 550px;
}

.footer {
	background-color: var(--primary-color);
}

.footer {
	background-color: var(--primary-color);
	color: #ccc;
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 2rem;
}
.footer .logo {
	font-size: 1.5rem;
	font-weight: bold;
}
.footer section {
	display: flex;
	justify-content: space-between;
}
.footer h3 {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	color: #fff;
}
.footer ul {
	list-style: none;
	padding: 0;
}
.footer ul li {
	margin-bottom: 0.5rem;
}
.footer ul li a {
	text-decoration: none;
	font-size: 1.3rem;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}
.footer ul li a:hover {
	color: #fff;
}